**/node_modules
terraform.tfstate
terraform.tfstate.backup
# variable.tf
backend.tf
.terraform
**.log
**.tfvars
temp.sh
# backend common #
db_data
# => web <= #
web/env-config.js
.pnp
.pnp.js
.eslintcache
# testing
coverage
# production
build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock
package-lock.json

**/builder/assets
**/builder/components
**/builder/utilities
temp.sh
*.lock.hcl
.env